
<div class="text-layoout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor  | number }}</h1>
  <h1>{{ obj    | json }}</h1>
</div>
<!-- Lo que se espera siempre dentro de dos llaves {{}} es una expresion de javascript -->

<button pButton
        class="p-button-success p-button-rounded"
        icon="pi pi-whatsapp" 
        iconPos="right"
        (click)="mostrarNombre()"
        label="WhatsApp">
</button>

<hr>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card>
